.commentBox{
    display: flex;
    max-height: 150px;
    width: 90%;
    margin: 30px auto;
    overflow-x: hidden;
    overflow-y: scroll;

}
.comment_reaction{
    vertical-align: middle;
    width: 30px;
    text-align: center;
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 120px;  
    margin: auto 20px;
}
#likes{
    margin-bottom: 15px;
}
#likes:hover{
    margin-bottom: 15px;
    color:#17AE0F  ;
    font-size: 18px;
}
#dislikes:hover{
    /* margin-bottom: 15px; */
    color: red;
    font-size: 18px;
}